@tailwind base;
@tailwind components;
@tailwind utilities;

/* Bracket helpers */
.connector-horizontal{
  position:absolute;
  right:-1.5rem;
  height:2px;
  background:rgba(255,255,255,0.95);
  width:1.5rem;
  transform: translateY(-50%);
}
.match-team{ transition: all .15s ease; }
.match-team:hover{ transform: translateY(-2px); }
